p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.link {
  text-decoration: underline;
  color: navy;
}
.img-container {
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.img-container img {
  max-width: 100%;
}
