html body {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: rgb(244, 251, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

.core {
  max-width: 900px;
  margin: 0 auto;
  padding: 8px;
  width: 100%;
}

.main {
  margin-top: 2rem;
}

.max-width {
  width: 100%;
}

.err {
  margin-top: 3rem;
  text-align: center;
  color: rgb(216, 0, 0);
}

.button {
  margin-top: 1rem;
  background-color: rgb(206, 14, 14);
  color: white;
  cursor: pointer;
  position: relative;
  height:3rem;
  width:100%;
  max-width: 442px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  font-size: 24px;
  justify-self: center;
}

.button:disabled {
  position: static;
  opacity: 0.6;
}

.button:active {
  top: 2px;
  left: 2px;
}
.err{
  text-align: center;
  color:red;
}